a:hover{
    text-decoration: none;
}

#url {
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  }
  
#url:hover {opacity: 1}